{% if product.description != blank %}
   <div class="product__description rte {{ class }}" itemprop="description" {{ block.shopify_attributes }}>
    {{ product.description }}
     <div>
  <ul class="tabs ul-tabs">
    <li><a href="#tab-1">Info</a></li>
    <li><a href="#tab-2">Shipping</a></li>
    <li><a href="#tab-3">Returns</a></li>
  </ul>
  <div id="tab-1">
  {{ product.description }}
  </div>
  <div id="tab-2">
  {% render 'shipping' %}
  </div>
  <div id="tab-3">
  {{ pages.returns.content }}
  </div>
</div>
  </div>


{% endif %}

<script>
   $(document).ready(function() {
    $('ul.tabs').each(function(){
      var active, content, links = $(this).find('a');
      active = links.first().addClass('active');
      content = $(active.attr('href'));
      links.not(':first').each(function () {
        $($(this).attr('href')).hide();
      });
      $(this).find('a').click(function(e){
        active.removeClass('active');
        content.hide();
        active = $(this);
        content = $($(this).attr('href'));
        active.addClass('active');
        content.show();
        return false;
      });
    });
  });
</script>

<style>
  ul.tabs{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    letter-spacing: .2px;
    font-weight: 700;
  }
li a{
  color: black;
  text-transform: uppercase;
}
  .ul-tabs li{
   line-height: 0px !important; 
    margin-top:20px !important;
  }
  ul.tabs li:after{
     content:' ';
    display:block;
    border:2px solid black;
    
  }
</style>
