{% assign enable_history = true %}

<script
  type="application/json"
  data-section-type="page-product"
  data-section-id="{{ section.id }}"
  data-section-data
>
  {%
    render 'product-json',
    enable_history: enable_history
  %}
</script>



{% capture product_form_id %}{{- 'product-form-' | append: section.id -}}{% endcapture %}

<div class="product-wrap clearfix" itemscope itemtype="http://schema.org/Product">
  {% if product != blank %}
    {% form 'product', product, class: 'product', id: product_form_id, data-product-form: '' %}
      {%
        render 'product-blocks',
        product: product,
        section: section,
        form: form,
        form_id: product_form_id,
      %}
    {% endform %}
  {% else %}
    <div class="product" data-product-form>
      {%
        render 'product-blocks',
        product: product,
        section: section,
        form: nil,
        form_id: product_form_id,
      %}
    </div>
  {% endif %}
<!-- <div class="description-tab">
  <ul class="list-tabs">
    <li class="tab-title">
      <span data-taptop="" data-target="#description" class="tab-links">
        <span class="title border">
          Description
        </span>
      </span>
    </li>
    <li class="tab-title">
      <span data-taptop="" data-target="#features" class="tab-links">

        <span class="title">
          Shipping & Handling
        </span>
      </span>
    </li>
    <li class="tab-title">
      <span data-taptop="" data-target="#policy" class="tab-links">
        <span class="title">
          Return & Exchange
        </span>
      </span>
    </li>
  </ul>
  <div class="wrapper-tab-content">
    <div class="tab-title description active" id="description">
      {% if product.description != blank %}
      {{ product.description }}
      {% endif %}
    </div>
    <div class="tab-title shipping hide" id="features">
      	{{section.settings.features}}
    </div>
    <div class="tab-title return hide" id="policy">
      	{{section.settings.sizes}}
    </div>
  </div>
</div> -->
  <div class="tabs-container">
        <nav class="tabs">
          <ul>
            <li class="active" data-tab="tab-1">Profile</li>
            <li data-tab="tab-2">Experience</li>
            <li data-tab="tab-3">Education</li>
          </ul>
        </nav>
      </div>
      {% if product.description != blank %}
      <div id="tab-1" class="tab-content current">
      {{ product.description }}
      </div>
  {% endif %}
      <div id="tab-2" class="tab-content">
      TAB 2 
      </div>
      <div id="tab-3" class="tab-content">
      TAB 3 
      </div>
  <div class="faq-tab" style="display:none;">
    <main class="main">
				<div class="spacer spacer--large spacer--grey "> </div>
				<div class="faq " data-component="Faq ">
					<div class="faq__grid ">
						<div class="faq__grid__chapter ">
							<div class="faq__grid__chapter__title ">
								Encuentra las respuestas que necesitas
							</div>
							<div class="faq__grid__chapter__card ">
								<div class="faq__grid__chapter__card__title ">
									¿Necesitas más ayuda?
								</div>
								<div class="faq__grid__chapter__card__body ">
									Con mucho gusto platicamos, estoy para ayudarte. No estas solo.
								</div>
								<div class="w3-main w3-container w3-center ">
									<!-- The Contact Section -->
									<div class="w3-container w3-content ">
										<form id="formulario" class="formulario">
											Nombre
											<div class="box-input">
												<input name="nombre" id="nombre" type="text" required>
												<span data-placeholder="Nombre"></span>
											</div>
											Email
											<div class="box-input">
												<input name="email" id="email" type="email" required>
												<span data-placeholder="email"></span>
											</div>
											Motivo de contacto
											<div class="box-input">
												<input name="apellidos" id="apellidos" type="text" required>
												<span data-placeholder="Motivo de contacto"></span>
											</div>
											<br>
											<button class="button w3-border w3-round-large" style="vertical-align:middle" id="submit" type="submit" onclick="alert( 'A continuación se abrira whatsapp, solo dale enviar al mensaje que tendrá los datos que acabas de llenar. Gracias') "><i class="fab fa-whatsapp"></i> <span><b>Enviar por WhatsApp</b> </span></button><br>
										</form>
									</div>
								</div>
								<div class="faq__grid__chapter__card__buttons ">
								</div>
							</div>
						</div>
						<div class="faq__grid__faqs ">
							<details class="faq__grid__faqs__faq " open>
							<summary class="faq__grid__faqs__faq__button " data-category="faq " data-label="¿Cuánto tiempo dura la sesión? ">
							<div class="faq__grid__faqs__faq__button__content ">
								<div class="faq__grid__faqs__faq__button__title ">
									¿Cuánto tiempo dura la sesión?
								</div>
								<div class="faq__grid__faqs__faq__button__arrow ">
									<svg width="19 " height="12 " viewBox="0 0 19 12 " fill="none " xmlns="http://www.w3.org/2000/svg ">
										<path d="M16.385 0.884766L9.5 7.75477L2.615 0.884766L0.5 2.99977L9.5 11.9998L18.5 2.99977L16.385 0.884766Z " fill="#1A73E8 "/>
									</svg>
								</div>
							</div>
							</summary>
							<div class="faq__grid__faqs__faq__body ">
								De 50 a 60 minutos por sesión.
							</div>
							</details>
							<details class="faq__grid__faqs__faq ">
							<summary class="faq__grid__faqs__faq__button " data-category="faq " data-label="¿Es virtual la sesión? ">
							<div class="faq__grid__faqs__faq__button__content ">
								<div class="faq__grid__faqs__faq__button__title ">
									¿Es virtual la sesión?
								</div>
								<div class="faq__grid__faqs__faq__button__arrow ">
									<svg width="19 " height="12 " viewBox="0 0 19 12 " fill="none " xmlns="http://www.w3.org/2000/svg ">
										<path d="M16.385 0.884766L9.5 7.75477L2.615 0.884766L0.5 2.99977L9.5 11.9998L18.5 2.99977L16.385 0.884766Z " fill="#1A73E8 "/>
									</svg>
								</div>
							</div>
							</summary>
							<div class="faq__grid__faqs__faq__body ">
								Si, por Zoom.
							</div>
							</details>
							<details class="faq__grid__faqs__faq ">
							<summary class="faq__grid__faqs__faq__button " data-category="faq " data-label="¿Cuáles son los precios? ">
							<div class="faq__grid__faqs__faq__button__content ">
								<div class="faq__grid__faqs__faq__button__title ">
									¿Cuáles son los precios?
								</div>
								<div class="faq__grid__faqs__faq__button__arrow ">
									<svg width="19 " height="12 " viewBox="0 0 19 12 " fill="none " xmlns="http://www.w3.org/2000/svg ">
										<path d="M16.385 0.884766L9.5 7.75477L2.615 0.884766L0.5 2.99977L9.5 11.9998L18.5 2.99977L16.385 0.884766Z " fill="#1A73E8 "/>
									</svg>
								</div>
							</div>
							</summary>
							<div class="faq__grid__faqs__faq__body ">
								Una sesión por $30. Recomendamos 5. La promoción es.
							</div>
							<!--  <a class="link faq__grid__faqs__faq__cta " href="# " target="_blank " rel="noreferrer noopener "> Más información  </a> -->
							</details>
							<details class="faq__grid__faqs__faq ">
							<summary class="faq__grid__faqs__faq__button " data-category="faq " data-label="Opciones de pago ">
							<div class="faq__grid__faqs__faq__button__content ">
								<div class="faq__grid__faqs__faq__button__title ">
									Opciones de pago
								</div>
								<div class="faq__grid__faqs__faq__button__arrow ">
									<svg width="19 " height="12 " viewBox="0 0 19 12 " fill="none " xmlns="http://www.w3.org/2000/svg ">
										<path d="M16.385 0.884766L9.5 7.75477L2.615 0.884766L0.5 2.99977L9.5 11.9998L18.5 2.99977L16.385 0.884766Z " fill="#1A73E8 "/>
									</svg>
								</div>
							</div>
							</summary>
							<div class="faq__grid__faqs__faq__body ">
								Deposito Banco Azteca
							</div>
							<a class="link faq__grid__faqs__faq__cta " href="# " target="_blank " rel="noreferrer noopener ">Más información</a>
							</details>
						</div>
					</div>
				</div>
				<div class="spacer spacer--large spacer--grey "></div>
			</main>
  </div>
</div>

{% schema %}
{
  "name": "Product pages",
  "class": "page-product",
  "settings": [
    {
      "type": "header",
      "content": "Blocks"
    },
    {
      "type": "paragraph",
      "content": "Learn more about [block positioning](https://support.pixelunion.net/hc/en-us/articles/360026262134)"
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "paragraph",
      "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media/product-media-types)"
    },
    {
      "type": "checkbox",
      "id": "enable_zoom",
      "label": "Enable image zoom",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "gallery_enable_video_autoplay",
      "label": "Enable video autoplay",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "gallery_enable_video_looping",
      "label": "Enable video looping",
      "default": true
    },
	{
		
			 "type" : "textarea",
                "id" : "features",
                "label" : "Text Tab 2"
		},
{
		
			 "type" : "textarea",
                "id" : "sizes",
                "label" : "Text Tab 3"
		}

		
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "position",
          "label": "Position",
          "options": [
            {
              "value": "top",
              "label": "Center (top)"
            },
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "bottom",
              "label": "Center (bottom)"
            }
          ],
          "default": "top"
        }
      ]
    },
    {
      "type": "vendor",
      "name": "Vendor",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "position",
          "label": "Position",
          "options": [
            {
              "value": "top",
              "label": "Center (top)"
            },
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "bottom",
              "label": "Center (bottom)"
            }
          ],
          "default": "top"
        }
      ]
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "position",
          "label": "Position",
          "options": [
            {
              "value": "top",
              "label": "Center (top)"
            },
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "bottom",
              "label": "Center (bottom)"
            }
          ],
          "default": "top"
        }
      ]
    },
    {
      "type": "variant_selection",
      "name": "Variant selection",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "position",
          "label": "Position",
          "options": [
            {
              "value": "top",
              "label": "Center (top)"
            },
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "bottom",
              "label": "Center (bottom)"
            }
          ],
          "default": "top"
        }
      ]
    },
    {
      "type": "quantity",
      "name": "Quantity",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "position",
          "label": "Position",
          "options": [
            {
              "value": "top",
              "label": "Center (top)"
            },
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "bottom",
              "label": "Center (bottom)"
            }
          ],
          "default": "top"
        }
      ]
    },
    {
      "type": "gallery",
      "name": "Gallery",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "position",
          "label": "Position",
          "options": [
            {
              "value": "top",
              "label": "Center (top)"
            },
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "bottom",
              "label": "Center (bottom)"
            }
          ],
          "default": "top"
        }
      ]
    },
    {
      "type": "form",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Customize form features for the product in the products portion of the theme settings."
        },
        {
          "type": "select",
          "id": "position",
          "label": "Position",
          "options": [
            {
              "value": "top",
              "label": "Center (top)"
            },
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "bottom",
              "label": "Center (bottom)"
            }
          ],
          "default": "top"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "position",
          "label": "Position",
          "options": [
            {
              "value": "top",
              "label": "Center (top)"
            },
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "bottom",
              "label": "Center (bottom)"
            }
          ],
          "default": "top"
        }

	
      ]
    },
    {
      "type": "share",
      "name": "Share",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "position",
          "label": "Position",
          "options": [
            {
              "value": "top",
              "label": "Center (top)"
            },
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "bottom",
              "label": "Center (bottom)"
            }
          ],
          "default": "top"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text block</p>"
        },
        {
          "type": "select",
          "id": "position",
          "label": "Position",
          "options": [
            {
              "value": "top",
              "label": "Center (top)"
            },
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "bottom",
              "label": "Center (bottom)"
            }
          ],
          "default": "top"
        }
      ]
    },
    {
      "type": "rating",
      "name": "Product rating",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To display a rating, add a product rating app. [Learn more](https://apps.shopify.com/product-reviews)"
        },
        {
          "type": "select",
          "id": "position",
          "label": "Position",
          "options": [
            {
              "value": "top",
              "label": "Center (top)"
            },
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "bottom",
              "label": "Center (bottom)"
            }
          ],
          "default": "top"
        }
      ]
    },
    {
      "type": "alignment",
      "name": "App block alignment",
      "settings": [
        {
          "type": "paragraph",
          "content": "Use this block before an app block to set the app block's position. Otherwise, app blocks will inherit the position of the block before them."
        },
        {
          "type": "select",
          "id": "position",
          "label": "Position",
          "options": [
            {
              "value": "top",
              "label": "Center (top)"
            },
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            },
            {
              "value": "bottom",
              "label": "Center (bottom)"
            }
          ],
          "default": "top"
        }
      ]
    }
  ]
}

{% endschema %}